section.main-block
    .main-block__bg
        .wrapper
            h1
                | Маркетинговое
                br
                | агенство

            .main-block__orange-text
                | с новейшим
                span perfomance
                | подходом
