section.tabs
    .wrapper
        ul.tabs__list
            li.tabs__item
                .tabs__content
                    .tabs__text Разработка сайтов
                    a.tabs__btn(href='')

            li.tabs__item
                .tabs__content
                    .tabs__text Продвижение сайтов
                    a.tabs__btn(href='')

            li.tabs__item
                .tabs__content
                    .tabs__text Контекстная реклама
                    a.tabs__btn(href='')

            li.tabs__item
                .tabs__content
                    .tabs__text Комплексный маркетинг
                    a.tabs__btn(href='')

            li.tabs__item
                .tabs__content
                    .tabs__text Брендинги дизайн
                    a.tabs__btn(href='')
