html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: vw($defaultFontSize);
    line-height: vw($defaultLineHeight);
    font-family: $defaultFontFamily;
    color: $defaultColor;
}

h1 {
    font-weight: 800;
    color: #272727;
    font-size: vw(60px);
    line-height: vw(72px);
    padding-top: vw(95px);
    margin: 0;
}

h2 {
    @include rem((
        font-size: 48px
    ));
    font-weight: 300;
    line-height: 1.08;
}

input[type=file] {
    outline: 0;
    display: block;
    font: caption;
}

textarea {
    resize: none;
}

label {
    font-weight: 700;
}

.wrapper {
    width: 72vw;
    margin: 0 auto;
}

a:focus {
    text-decoration: none;
    outline: 0;
}
