.tabs {
    background: $l-grey;
    margin-top: vw(-20px);
    padding-bottom: vw(40px);

    &__list {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        width: vw(164px);
        height: vw(60px);
        position: relative;

        &:hover {
            .tabs__content {
                background: $orange;
                height: vw(140px);
                box-shadow: 0 vw(25px) vw(40px) vw(10px) rgba(255, 103, 31, .3);
            }

            .tabs__text {
                color: #fff;
                text-decoration: none;
            }

            .tabs__btn {
                display: block;
            }
        }
    }

    &__content {
        width: 100%;
        padding: vw(10px) vw(20px);
        position: absolute;
        transition: background linear .2s, box-shadow linear .2s;

        &:after {
            content: "";
            width: vw(13px);
            height: vw(13px);
            background: $orange;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__text {
        text-decoration: underline;
        font-size: vw(18px);
        font-weight: 600;
        line-height: vw(30px);
        transition: all linear .2s;
    }

    &__btn {
        background: url("../images/next.png") center center no-repeat;
        display: none;
        width: vw(42px);
        height: vw(31px);
        border: 1px solid #fff;
        margin-top: vw(22px);
        transition: background linear .2s;

        &:hover {
            background: #fff url("../images/next-hover.png") center center no-repeat;
        }
    }
}
