header.header
    .wrapper
        .header__content
            .logo
                img.logo__img(src=require('images/logo.jpg'))
                span.logo__text
                    | профессиональные
                    br
                    | услуги для бизнеса

            .left
                a.phone(href='') 8 (800) 775 49 03
                a.btn.btn-outline(href='') Перезвоните мне
