.btn {
    font-size: vw(16px);
    line-height: vw(38px);
    display: inline-block;
    padding: 0 vw(24px);
    text-decoration: none;

    &-outline {
        color: $orange;
        border: 1px solid $orange;
        background: #fff;
        transition: all linear .2s;

        &:hover {
            background: $orange;
            color: #fff;
        }
    }
}
