/* --------- mixins --------- */

@mixin ibm {
    display: inline-block;
    vertical-align: middle;
}

@mixin ib {
    display: inline-block;
    vertical-align: top;
}

@function vw($target) {
    $vw-context: (1440 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " "; display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

@mixin placecolor($color: #000000) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
}
