/* --------- variables --------- */

$defaultFontFamily: "Open Sans", sans-serif;
$defaultFontSize: 18px;
$defaultLineHeight: 22px;
$defaultColor: #272727;

$font-family-base: "Open Sans", sans-serif;
$body-color: #525966;
$border-radius: 0;

$orange: #ff671f;
$l-grey: #f7f7f7;
// $l-grey: red;
